env: ENV["GENIE_ENV"]

dev:
  adapter: Postgresql
  database: <snip>_dev
  host: 127.0.0.1
  username: <snip>
  password: <snip>
  port:
  config:

prod:
  adapter:
  database:
  host:
  username:
  password:
  port:
  config:

test:
  adapter:
  database:
  host:
  username:
  password:
  port:
  config:
